* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../assets/images/pexels-malidate-van-784632.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url(../assets/images/pexels-malidate-van-784632.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

@media (max-width: 768px) {
    .header_logo {
        position: absolute;
        left: 37%;
    }
    
    .nav_menu_option {
        margin: 0 10px;
        margin-left: 10px;
    }
}

@media (max-width: 425px) {
    .header_logo {
        position: absolute;
        top: 60px;
        left: 30%;
    }

    .nav_menu_option {
        margin: 0 30px;
        margin-bottom: 0px;
    }
}

@media (max-width: 375px) {
    .header_logo {
        position: absolute;
        top: 60px;
        left: 27%;
    }

    .nav_menu_option {
        margin: 0 20px;
    }
}

@media (max-width: 320px) {
    .nav_menu_option {
        margin: 0 12px;
    }
    
}