@media (max-width:1440px) {

    .header_logo {
        left: 45%;
        height: 150px;
        width: 150px;
    }
    
    .navegation_menu, .nav_menu_option {
        font-size: 30px;
    }
    
    .imagenes_contenedor{
        padding: 10px;
        margin: 40px 40px; 
        justify-content: space-around;
    }

    .main_image_1, .main_image_2 {
        width: 45vw;
        margin: 30px;
        
    }
    
.main_group_images {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(1, 1fr);  
}

.background_paralax_1, .background_paralax_2, .background_paralax_3 {
    font-size: 40px;
}

}


@media (max-width:1024px) {
    .header_logo {
        left: 42%;
        height: 130px;
        width: 130px;
        margin-top: 70px;
    }

    .navegation_menu {
        width: 100vw;
        margin-top: -60px;
        margin-left: 50px;
        align-items: flex-end;
    }

    .nav_menu_option.menu_option {
        font-size: 40px;
        left: 3%;
        margin: 80px 50px;
    }
    
    .imagenes_contenedor {
        display: grid;
        width: 87vw;
        grid-template-columns: repeat(1,1fr);
    }

    .imagenes_contenedor .main_image_1, .imagenes_contenedor .main_image_2 {
        width: 85vw;
    }
    
}


@media (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
    }

    .header_logo {
        left: 40%;
        height: 8vh;
        width: 15vw;
}

    .navegation_menu {
        margin-top: 10px;
        margin-left: 10px;
        width: 100vw;
    }

    .nav_menu_option.menu_option {
        margin: 0px 45px;
        font-size: 38px;
    }

    .imagenes_contenedor .main_image_1, .imagenes_contenedor .main_image_2 {
        width: 95vw;
        margin-top: 80px;
        margin-left: 50px;
    }

    .main_group_images {
        margin: 20px -45px;
    }

    .background_paralax_3 {
        text-align: center;
    }
}