body {
    background: rgb(34,14,19);
    background: linear-gradient(90deg, rgba(34,14,19,1) 0%, rgba(21,16,31,1) 30%, rgba(42,11,15,1) 93%);
}
header {
    background: rgb(34,14,19);
    background: linear-gradient(90deg, rgba(34,14,19,1) 0%, rgba(21,16,31,1) 30%, rgba(42,11,15,1) 93%);
}

